/* src/App.css */
body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  flex: 1;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #f0f0f0;
  margin-top: auto;
  color: gray;
}
